<form
  hx-post="{% url 'recruitment-survey-question-template-edit' form.instance.id %}"
  hx-target="#updateSurveyModalBody"
  method="post"
>
  {% csrf_token %} {{form.as_p}}
</form>

<script>
  function toggleOpt() {
    var root = $("#updateSurveyModalBody");
    var typeVal = root.find("form [name=type]").first().val();
    if (typeVal == "options" || typeVal == "multiple") {
        root.find("div[id^='optionDiv']").show();
        root.find("#addMoreOptions").show();
        root.find("#allowOtherField").show();
    } else {
        root.find("div[id^='optionDiv']").hide();
        root.find("#addMoreOptions").hide();
        root.find("#allowOtherField").hide();
    }
}

$("#updateSurveyModalBody form [name=type]").change(function (e) {
    toggleOpt();
});

// Call toggleOpt on page load to set the initial state
$(document).ready(function() {
    toggleOpt();
});

  $("#updateSurveyModalBody form [name=template_id]").parent().removeClass("col-md-6").addClass("col-md-12")
</script>
