{% load i18n %}
<div class="oh-sticky-table">
    <div class="oh-sticky-table__table">
        <div class="oh-sticky-table__thead">
            <div class="oh-sticky-table__tr">
                <div class="oh-sticky-table__th">{% trans "Employee" %}</div>
                <div class="oh-sticky-table__th">{% trans "Date" %}</div>
                <div class="oh-sticky-table__th">{% trans "Check-In" %}</div>
                <div class="oh-sticky-table__th">{% trans "Check-Out" %}</div>
            </div>
        </div>
        <div class="oh-sticky-table__tbody">
            {% for attendance in attendances %}
            <div class="oh-sticky-table__tr">
                <div class="oh-sticky-table__td">
                    <div class="oh-profile oh-profile--md">
                        <div class="oh-profile__avatar mr-1">
                            <img src="{{ attendance.employee_id.get_avatar }}" class="oh-profile__image" alt="" />
                        </div>
                        <span class="oh-profile__name oh-text--dark">{{ attendance.employee_id }}</span>
                    </div>
                </div>
                <div class="oh-sticky-table__td dateformat_changer">{{ attendance.attendance_date }}</div>
                <div class="oh-sticky-table__td timeformat_changer">{{ attendance.attendance_clock_in }}</div>
                <div class="oh-sticky-table__td timeformat_changer">{{ attendance.attendance_clock_out|default:"-" }}</div>
            </div>
            {% empty %}
            <div class="oh-sticky-table__tr">
                <div class="oh-sticky-table__td" colspan="4">{% trans "No on time attendances for today." %}</div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
